.logoImage {
  width: 200px;
  height: 50px;
  background-image: url('/ieo-logo.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 0.5rem;
}

.navButton {
  color: rgba(0, 0, 0, 0.5) !important;
  font-size: 1rem !important;
  &:hover {
    color: rgba(0, 0, 0, 0.7) !important;
  }
  &.activePage {
    color: rgba(0, 0, 0) !important;
  }
}

.menuItem {
  min-width: 12rem;
}
