.carouselItem {
  & .carouselImage {
    min-height: 20rem;
    height: 50vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  &:nth-child(1) .carouselImage {
    background-image: url('/img/home/slide-0.jpg');
  }
  &:nth-child(2) .carouselImage {
    background-image: url('/img/home/slide-1.jpg');
  }
  &:nth-child(3) .carouselImage {
    background-image: url('/img/home/slide-2.jpg');
  }
}
