.qrcode {
  height: 150px;
  width: 150px;
}

.wechat1 .qrcode {
  background-image: url('/img/ieo-wechat1.svg');
}

.wechat2 .qrcode {
  background-image: url('/img/ieo-wechat2.svg');
}

.englishUk {
  width: 15rem;
  height: 4.81rem;
  background-image: url('/img/englishuk.jpg');
}

.britishCouncil {
  width: 15rem;
  height: 4.31rem;
  background-image: url('/img/britishcouncil.png');
}
