name: Deploy web application

on:
  push:
    branches: [ "main" ]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    environment: production
    steps:
      - name: Clone repository
        uses: actions/checkout@v4

      - name: Setup node
        uses: actions/setup-node@v4
        with:
          node-version-file: '.nvmrc'

      - name: Install dependencies
        run: npm ci

      - name: Test
        run: npm test

      - name: Generate build
        run: npm run build

      - name: Setup terraform
        uses: hashicorp/setup-terraform@v3

      - run: echo "${TFSTATE_BUCKET} ${TFSTATE_KEY} ${TFSTATE_REGION} ${TFSTATE_PROFILE}"

      - name: Initialize backend
        working-directory: ./terraform
        run: >
          terraform init
          -backend-config="bucket=${TFSTATE_BUCKET}"
          -backend-config="key=${TFSTATE_KEY}"
          -backend-config="region=${TFSTATE_REGION}"
          -backend-config="profile=${TFSTATE_PROFILE}"

      - name: Validate configuration
        working-directory: ./terraform
        run: terraform validate

      - name: Deploy infrastructure
        working-directory: ./terraform
        run: terraform plan
#        run: terraform apply -auto-approve
